Nearwise

You've been invited

{{ inviter_name }} has invited you to join their organisation on Nearwise. Click the link below to accept. This link expires in {{ expiration_hours }} hours.

Accept invitation → {{ invitation_url }}

----------------------------------------

Or copy this link

{{ invitation_url }}

----------------------------------------

Didn't expect this?
You can safely ignore this email. This link can only be used once and expires automatically.

Warmly,
The Nearwise Team

© 2026 Nearwise

This email was sent because someone invited you to their organisation.
